* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  ::-webkit-scrollbar{
    display: none;
  }
}

body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;

  .titleArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    .title {
      font-size: 2.5rem;
    }

    .bar {
      background-color: coral;
      width: 70px;
      height: 5px;
    }
  }

  .filterOptions {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 10px;

    .option {
      color: coral;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 10px;
      margin: 10px 10px 10px 0;

      border: 2px solid coral;
      border-radius: 10px;
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.237);
      transition: ease-in-out 0.3s;

      &:hover {
        cursor: pointer;
        background-color: coral;
        color: white;
      }
      
    }
    .active{
      background-color: coral;
      color: white;
    }
  }

  .foodGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 20px;

    .foodArea {
      display: flex;
      max-width: 500px;


      .foodImage {
        border: 2px solid coral;
        min-width: 270px;
        min-height: 130px;
        margin-right: 10px;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .foodDetails {
        display: flex;
        flex-direction: column;

        .foodTitleArea {
          display: flex;
          justify-content: space-between;
          align-items: center;

          border-bottom: 1px solid #bbb;
          margin-bottom: 20px;
          min-height: 40px;
        }
      }
    }
  }
}

@media (max-width: 930px){
  .container{
    .foodGrid{
      .foodArea{
        max-width: 400px;
        .foodImage{
          min-width: 190px;
          max-width: 200px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 600px;
    .foodGrid{
      max-width: 600px;
      .foodArea{
        flex-direction: column;
        max-width: 300px;
        .foodImage{
          min-width: 150px;
          max-width: 300px;
        }
      }
    }
  }
}

@media (max-width: 370px){
  .container {
    .filterOptions{
      max-width: 280px;
      .option{
        font-size: 1rem;
        margin-bottom: 5px;
      }
    }
    .foodGrid {
      grid-template-columns: 1fr;
  
      .foodArea {
        max-width: 200px;
        flex-direction: column;
  
        .foodImage {
          border: 2px solid coral;
          min-width: 200px;
          min-height: 45px;          
        }
      }
    }
  }
}